body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#score {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif; /* Digital look */
    font-size: 3em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 5px solid #FFD700;
    width: 200px;
}

#actorNames {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

footer {
    margin-top: 30px;
    font-size: 0.8em;
    color: #666;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
